<nav class="navbar navbar-expand-md navbar-light bg-light mb-4">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">OShop</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/shopping-cart">Shopping Cart <span class="">{{this.cartService.getTotalCartItems()}}</span></a>
          </li>
          <li *ngIf="currentUser" ngbDropdown class="nav-item dropdown">
            <a ngbDropdownToggle class="nav-link dropdown-toggle"> {{currentUser.username}}
              <div ngbDropdownMenu class="dropdown-menu">
                <a class="dropdown-item" routerLink="/my/orders">My Orders</a>
                <a *ngIf="authService.isAdmin" class="dropdown-item" routerLink="/admin/orders">Manage Orders</a>
                <a *ngIf="authService.isAdmin" class="dropdown-item" routerLink="/admin/products">Manage Products</a>
                <a class="dropdown-item" (click)="logout()">Log out</a>
              </div>
            </a>
          </li>
        </ul>
        <form *ngIf="!currentUser" class="d-flex">
          <input
            class="form-control me-2"
            type="text"
            [(ngModel)]="model.username"
            name="username"
            placeholder="Username"
          />
          <input
            class="form-control me-2"
            type="password"
            [(ngModel)]="model.password"
            name="password"
            placeholder="Password"
          />
        <button class="btn btn-outline-success" type="button" (click)="login()">Login</button>
        </form>
      </div>
    </div>
  </nav>
  